html,
body {
  margin: 0;
}

#App {
  font-family: sans-serif;
  height: 100vh;
  max-width: 500px;
  margin: auto;
  padding: 10px;
}

#page-wrap {
  text-align: center;
  overflow: auto;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 15px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}
ul {
  display: flex;
  text-align: center;
  list-style: none;
  
}
.btn2{
  margin-left: 75px;
}
  .btn3{
  margin-left: 75px;
}

.center {
  text-align: center;
  margin: auto;
}

ol {
  list-style-type: none;
}


li {
  padding: 20px;
  text-align: center;
}
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
.content {
  max-width: 900px;
  margin: 20px auto;
  padding: 0px;
  text-align: left;
}
.homelinks {
  padding: 0px;
  text-align: center;
}
.logout {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #373a47;
}
.logout h1 {
  color: #373a47;
}
.logout .links {
  margin-left: auto;
}
.logout a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.logout a:hover {
  color: black;
}